.center {
  text-align: center;
}

.title {
  margin-bottom: 0.1rem;
}

.justify {
  text-align: justify;
}

.color {
  background-color: #222;
  color: #fff;
}

.section {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.content-title {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
height: 78%;
width: 78%;
}

@media (min-width: 550px) {
  .logo {
  height: 35%;
  width: 35%;
  }
}


.whitelink { color: #fff; }
.whitelink:hover { color: #fff; text-decoration: underline; }

.press {
  text-align: center;
}

.press > a > img {
  width: 55%;
  margin: 0.5rem;
}
