body {
	 font-size: 16px;
	 font-family: 'Prompt', sans-serif;
	 text-align: center;
	 background-color: #f8faff;
}
 .cha-button {
	 font-family: 'Prompt', sans-serif;
	 display: inline-block;
	 font-size: 1em;
	 padding: 1em 2em;
	 margin-top: 100px;
	 margin-bottom: 60px;
	 -webkit-appearance: none;
	 appearance: none;
	 background-color: #505C5E;
	 color: #fff;
	 border-radius: 4px;
	 border: none;
	 cursor: pointer;
	 position: relative;
	 transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	 box-shadow: 0 2px 25px rgba(80,92,94);
}
 .cha-button:focus {
	 outline: 0;
}
 .cha-button:before, .cha-button:after {
	 position: absolute;
	 content: '';
	 display: block;
	 width: 140%;
	 height: 100%;
	 left: -20%;
	 z-index: -1000;
	 transition: all ease-in-out 0.5s;
	 background-repeat: no-repeat;
}
 .cha-button:before {
	 display: none;
	 top: -75%;
	 background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
 .cha-button:after {
	 display: none;
	 bottom: -75%;
	 background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
 .cha-button:active {
	 transform: scale(0.9);
	 background-color: #505C5E;
	 box-shadow: 0 2px 25px rgba(80,92,94);
}
 .cha-button.animate:before {
	 display: block;
}
 .cha-button.animate:after {
	 display: block;
}
