body {	
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
    color: #0de5a8;
    background: #F7FDFA;
}

h1 {
	color: #F71568;
	margin: 1;
}

h2 {
	color: #1fc999;
	font-weight: lighter;
	margin: 1;
}


a:link {text-decoration: none; font-weight: bold; color: #F71568;}
a:visited {text-decoration: none; font-weight: bold; color: #F71568;}
a:hover {text-decoration: none; font-weight: bold; color: #F71568;}
a:active {text-decoration: none; font-weight: bold; color: #F71568;}