{% extends "layout.html" %}
{% block content %}
  <section class="hero bg-pixel">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="circle" src="{{this.image | default('/img/chaucha.png',true) | url }}" width="200" height="200"><br>
        <h1 class="title PS2 fucsia is-size-4">{{ this.title }}</h1>
        <h2 class="subtitle comfortaa is-size-5">{{ this.subtitle }}</h2>
      </div>
    </div>
  </section>
  <section class="section">
      <div class="container comfortaa">
        <div class="content">
        {{ this.body }}
        </div>
      </div>
  </section>
{% endblock %}
