@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Comfortaa');

body {	
	font-family: 'Comfortaa', cursive;
  color: #595B5A;
  font-size:17px;
  background: #faffff;
  opacity: 70%;
  padding: 10%;
}

li {
	list-style-type: none;
	padding: 5px;
}

li:before {
  font-family: 'Press Start 2P', cursive;
  content: "> ";
  font-weight: bolder;
  vertical-align: middle;
  font-size: 10px;
  line-height: 20px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #F71568;
  font-size: 25px;
  text-shadow: 2px 2px #eeeeee;
}

#info {
  font-family: 'Press Start 2P', cursive;
  color: #0de5a8;
  font-size: 14px;
  text-shadow: 2px 2px #eeeeee;
}

b {
	color: #F71568;
}

a:link {font-weight: bold; color: #F71568;}
a:visited {font-weight: bold; color: #F71568;}
a:hover {font-weight: bold; color: #F71568;}
a:active {font-weight: bold; color: #F71568;}